/* Body and General Styles */
body {
    background: #181818;
    color: #e0e0e0;
    font-family: 'Poppins', sans-serif;
  }
  
  h1, h3 {
    font-weight: 600;
  }
  
  .navbar {
    background: linear-gradient(135deg, #00c6ff, #007bff);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .glass-effect {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
  }
  
  .shadow-glass {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  }
  
  .card {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
  
  .card i {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  #theme-toggle {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  #theme-toggle:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  /* Logo Styles */
.logo-img {
    width: 40px; /* Adjust the size as needed */
    height: auto;
    border-radius: 5%;
  }
  
